<%- include("partials/header") -%>

<br>
    <h2>A Better Blog Experience On The Web</h2>
    <h4 style="color: rgb(89, 88, 88);">Jan 01, 2023</h4>
    <br>
    <p> <%= content %> </p>

<%- include("partials/footer") -%>