<%- include("partials/header") -%>

    <br>
    <h1>Contact Us</h1>
    <br>
    <h4>We are always here for you!</h4>
    <p> Either you have a lengthy note to write or a short  <%= content %> </p>


<%- include("partials/footer") -%>