@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700&display=swap');
 
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 9px;
    background-color: #e5e4e6;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #7126bafc !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #7126bafc;
}

.footer p {
	/* margin-top: 25px; */
    position: relative;
    top: 22px;
	font-size: 14px;
  color: #fff;
}

#brand-name{
    color: #7126bafc;
    position: relative;
    bottom: 8px;
}

.btn{
    background-color: #7126bafc;
    color: #fff;
    border-color: rgb(255, 255, 255);
    border-radius: 2px;
}
.btn:hover{
    background-color: #8b35e1;
    color: rgb(255, 255, 255);
}

.eachPost{
    border-radius: 0.1px;
    border: rgb(0, 0, 0);
    border-style: solid;
}

.btn-compose{
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    font-size: 1.4rem;
    border: none;
    margin: 25px;
    padding : 13px 17px ;
    font-weight: 500;
}

.btn-delete{
    font-size: 1.5rem;
    margin-top: 20px;
    padding : 8px 10px ;
}
.btn-delete:hover{
    border-radius: 5px;
}
.navbar-default .navbar-nav>li>a {
    color: #454545;
}
/* color: #7126bafc ; 
background-color: #1abc9c;*/

h1.mainEmptyPage{
    /* font-family: 'Raleway', sans-serif; */
    font-style: normal;
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 6.3125rem;
    letter-spacing: 0.03em;
}
h4.mainEmptyPage{
    font-size: 2.2rem;
    font-weight: 400;
}
/* ------------------------------------------------- */

@media only screen and (max-width: 500px){



    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .navbar {
        padding-top: 9px;
        background-color: #e5e4e6;
        padding-bottom: 5px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
    }
    .navbar-nav  li a:hover {
        color: #7126bafc !important;
    }
    
    .footer-padding {
        padding-bottom: 60px;
    }
    
    .footer {
        position: fixed;
        text-align: center;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #7126bafc;
    }
    
    .footer p {
        /* margin-top: 25px; */
        position: relative;
        top: 22px;
        font-size: 14px;
      color: #fff;
    }
    
    #brand-name{
        color: #7126bafc;
        position: relative;
        bottom: 8px;
    }
    
    .btn{
        background-color: #7126bafc;
        color: #fff;
        border-color: rgb(255, 255, 255);
        border-radius: 2px;
    }
    .btn:hover{
        background-color: #8b35e1;
        color: rgb(255, 255, 255);
    }
    
    .eachPost{
        border-radius: 0.1px;
        border: rgb(0, 0, 0);
        border-style: solid;
    }
    
    .btn-compose{
        font-family: 'Roboto', sans-serif;
        border-radius: 3px;
        font-size: 1.4rem;
        border: none;
        margin: 25px;
        padding : 13px 17px ;
        font-weight: 500;
    }
    
    .btn-delete{
        font-size: 1.5rem;
        margin-top: 20px;
        padding : 8px 10px ;
    }
    .btn-delete:hover{
        border-radius: 5px;
    }
    .navbar-default .navbar-nav>li>a {
        color: #454545;
    }
   

    /*=================================================================*/
    h1.mainEmptyPage{
        /* font-family: 'Raleway', sans-serif; */
        margin-top: -70px;
        font-style: normal;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 2.3125rem;
        letter-spacing: 0.03em;
    }
    h4.mainEmptyPage{
        font-size: 1.35rem;
        font-weight: 400;
    }
    .home-empty-view{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}